{% load static %}
{% load bootstrap_icons %}
<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
  <link rel="stylesheet" href="{% static 'site/base_site/css/mobile/mobile.css' %}">
  <link rel="stylesheet" href="{% static 'site/base_site/css/desktop/desktop.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.theme.default.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.theme.default.min.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="/media/logo/icone.jpg"/>
  {% block 'head' %}{% endblock %}
  <title>{% block 'title' %}{% endblock %}</title>
</head>

<body>
    <!--Header Desktop-->
    <header class="desktop-header desktop-header-container desktop">
      <div class="row">
        <div class="col-md-4">
          <div class="logo-desktop">
            <a class="btn logo-cremonese-desktop" href="{% url 'site_loja:home' %}">
              <img class="img-fluid" src="/media/logo/logo_sem_fundo_bold.png" alt="Cremonese LTDA">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="main-search-desktop">
            <div class="form-group has-search">
              <span class="icon-search-desktop">{% bs_icon 'search' %}</span>
              <input type="text" class="input-search-desktop search-background-color" placeholder="O que você procura...">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="nav nav-pills icon-container-desktop">
            <li class="nav-item">
              <a href="#" class="nav-link" aria-current="page">
                {% bs_icon 'heart' extra_classes='icon-header' size='2em' %}
              </a>
            </li>
            <li class="nav-item">
              <div id="dropdown-carrinho">
                <a href="#" class="nav-link">
                  {% bs_icon 'cart' extra_classes='icon-header' size='2em' %}
                  <span id="total-carrinho" class="contador-carrinho">0</span>
                </a>
                <div class="card-carrinho">
                  <div class="container-carrinho">
                    <p>Meu carrinho </p>
                    <div id="itens-carrinho"></div>
                    <button class="btn btn-clear" type="button" onclick="localStorage.clear(); location.reload();"> Limpar carrinho </button>
                  </div>
                </div>
              </div>
            </li>

            <div class="dropdown">
              <span class="btn dropdown-toggle btn-minha-conta" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Entre | Cadastre
              </span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'site_loja:login' %}">Entrar</a>
                <a class="dropdown-item" href="{% url 'site_loja:login' %}">Cadastrar</a>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </header>

    <!--Header Mobile-->
    <header class="mobile header">
      <a href="{% url 'site_loja:home' %}">
        <p class="logo">{% bs_icon 'cart' size='1em' %} Cremonese LTDA</p>
      </a>
      <div class="main-search">
        <div class="form-group has-search">
          <span class="form-control-feedback">{% bs_icon 'search' %}</span>
          <input type="text" class="form-control search-background-color" placeholder="O que você procura...">
        </div>
      </div>
    </header>
    <div class="margin-navbar"></div>

    {% block 'main' %}
    {% endblock %}

    <div class="wa__btn_popup">
      <div class="wa__btn_popup_txt">Precisa de ajuda? <strong>Converse conosco</strong></div>
    </div>
    <a class="btn wa__btn_popup">
      {% bs_icon 'whatsapp' size='1.5em' %}
    </a>

    <!--Footer Desktop-->
    <footer class="text-center text-lg-start desktop-footer">

      <!-- Section: Links  -->
      <div class="desktop-footer">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 colunas-footer letter-colunas">
              <!-- Content -->
              <h6 class="fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>Company name
              </h6>
              <p class="letter-footer">
                Here you can use rows and columns to organize your footer content. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 colunas-footer letter-colunas">
              <!-- Links -->
              <h6 class="fw-bold mb-4">
                Categorias
              </h6>
              <p>
                <a href="#!" class="letter-footer">Teste 1</a>
              </p>
              <p>
                <a href="#!" class="letter-footer">Teste 2</a>
              </p>
              <p>
                <a href="#!" class="letter-footer">Teste 3</a>
              </p>
              <p>
                <a href="#!" class="letter-footer">Teste 4</a>
              </p>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mb-md-0 colunas-footer letter-colunas">
              <!-- Links -->
              <h6 class="fw-bold mb-4">Redes Sociais</h6>
              <a href="#" class="nav-link-footer">
                {% bs_icon 'facebook' extra_classes='icon-header' %}
              </a>
              <a href="#" class="nav-link-footer"> {% bs_icon 'instagram' extra_classes='icon-header' %} </a>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
          <!-- Copyright -->
          <div class="copy-footer">
            © 2022 Copyright:
            <h8 class="text-reset fw-bold">HDV</h8>
          </div>
        <!-- Copyright -->
      </div>
      <!-- Section: Links  -->
    </footer>
<!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'vendor/OwlCarousel/dist/owl.carousel.js' %}"></script>
    <script src="{% static 'vendor/OwlCarousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'site/base_site/js/funcoes.js' %}"></script>
    <script src="{% static 'site/base_site/js/carrinho.js' %}"></script>
    {% block 'body' %}
    {% endblock %}

    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
      swal({
        title: "SUCESSO!",
        text: "{{message}}",
        icon: "success",
        button: "OK",
      });
    </script>
    {% endif %}
    {% endfor %}

    {% for message in messages %}
    {% if message.tags == 'error' %}
    <script>
      swal({
        title: "ERRO!",
        text: "{{message}}",
        icon: "error",
        button: "OK",
      });
    </script>
    {% endif %}
    {% endfor %}
</body>

</html>