{% load static %}
{% load bootstrap_icons %}
<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
  <link rel="stylesheet" href="{% static 'site/base_site/css/mobile/mobile.css' %}">
  <link rel="stylesheet" href="{% static 'site/base_site/css/desktop/desktop.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.theme.default.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/dist/assets/owl.theme.default.min.css' %}">
  {% block 'head' %}{% endblock %}
  <title>{% block 'title' %}{% endblock %}</title>
</head>

<body>
  <div>
    <!--Header Desktop-->
    <header class="desktop-header">
      <div class="desktop-header-container">
        <div class="logo-desktop">
          <a class="btn logo-cremonese-desktop" href="{% url 'site_loja:home' %}">Cremonese LTDA </a>
        </div>
        <div class="main-search-desktop">
          <div class="form-group has-search">
            <span class="icon-search-desktop">{% bs_icon 'search' %}</span>
            <input type="text" class="input-search-desktop search-background-color" placeholder="O que você procura...">
          </div>
        </div>
          <ul class="nav nav-pills icon-container-desktop">
            <li class="nav-item">
              <a href="#" class="nav-link" aria-current="page">
                {% bs_icon 'heart' extra_classes='icon-header' size='2em' %}
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                {% bs_icon 'cart' extra_classes='icon-header' size='2em' %}
              </a>
            </li>
            <div class="dropdown">
              <span class="btn dropdown-toggle btn-minha-conta" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Entre | Cadastre
              </span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'site_loja:login' %}">Entrar</a>
                <a class="dropdown-item" href="{% url 'site_loja:login' %}">Cadastrar</a>
              </div>
            </div>
          </ul>
        </div>
    </header>

    <!--Header Mobile-->
    <header class="mobile header">
      <a href="{% url 'site_loja:home' %}">
        <p class="logo">{% bs_icon 'cart' size='1em' %} Cremonese LTDA</p>
      </a>
      <div class="main-search">
        <div class="form-group has-search">
          <span class="form-control-feedback">{% bs_icon 'search' %}</span>
          <input type="text" class="form-control search-background-color" placeholder="O que você procura...">
        </div>
      </div>
    </header>
    <div class="margin-navbar"></div>

    {% block 'main' %}
    {% endblock %}

    <div class="wa__btn_popup">
      <div class="wa__btn_popup_txt">Precisa de ajuda? <strong>Converse conosco</strong></div>
    </div>
    <a class="btn wa__btn_popup">
      {% bs_icon 'whatsapp' size='1.5em' %}
    </a>

    <!--Footer Desktop-->
    <footer class="desktop-footer"></footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'vendor/OwlCarousel/dist/owl.carousel.js' %}"></script>
    <script src="{% static 'vendor/OwlCarousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'site/base_site/js/funcoes.js' %}"></script>
    {% block 'body' %}
    {% endblock %}

    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
      swal({
        title: "SUCESSO!",
        text: "{{message}}",
        icon: "success",
        button: "OK",
      });
    </script>
    {% endif %}
    {% endfor %}

    {% for message in messages %}
    {% if message.tags == 'error' %}
    <script>
      swal({
        title: "ERRO!",
        text: "{{message}}",
        icon: "error",
        button: "OK",
      });
    </script>
    {% endif %}
    {% endfor %}
</body>

</html>