{% extends 'administrador\base.html' %}
{% load static %}

{% block 'title' %}Cadastrar Novo Atributo{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="container-box-admin">
        <h2>Cadastrar Novo Atributo</h2>
        <form class="margin-top" action="{% url 'apps_administrador.produto:create_atributo_produto' %}" method="POST">
            {% csrf_token %}
            <p>Observação os campos com<span style="color: red"> * </span>são obrigatorios</p>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Nome<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="nome_atributo" id="nome_atributo" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Valor<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="valor_atributo" id="valor_atributo" required>
                </div>
            </div>
            <div class="margin mt-4 mb-4">
                <button type="submit" class="btn-principal">Cadastrar</button>
                <button type="button" onclick="window.history.back();" class="btn btn-secondary">Voltar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}