{% extends 'admin/base.html' %}
{% load static %}

{% block 'title' %}Editar Grupo de Acesso {{group.name}}{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="container-box-admin">
        <h2>Editar Grupo de Acesso {{group.name}}</h2>
        <form class="mt-4" action="{% url 'admin.sistema:edit_grupo_acesso' group.id %}" method="POST">
            {% csrf_token %}
            <p>Observação os campos com<span style="color: red"> * </span>são obrigatorios</p>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Nome do Grupo<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" id="nome_group" name="nome_group" value="{{group.name}}" required>
                </div>
            </div>

            <div class="margin mt-4 mb-4">
                <button type="submit" class="btn-principal">Editar</button>
                <button type="button" onclick="window.history.back();" class="btn btn-secondary">Voltar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}