{% extends 'admin/base.html' %}
{% load static %}

{% block 'title' %}Editar Usuário{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'dashboard' %}
<div class="container mb-4">
    <div class="container-box-admin">
        <h2>Editar Usuário {{user.first_name}}</h2>
        <form class="mt-4" action="{% url 'admin.sistema:edit_user' user.id %}" method="POST">
            {% csrf_token %}
            <p>Observação os campos com<span style="color: red"> * </span>são obrigatorios</p>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Primeiro Nome<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" id="nome_user" name="nome_user" value="{{user.first_name}}"
                        required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Permissão<span style="color: red"> * </span>:</label>
                    {% if user.is_superuser == True %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="super_admin" checked>
                        <label class="form-label" for="super_admin">
                            Super Administrador
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="membro_equipe">
                        <label class="form-label" for="membro_equipe">
                            Membro da Equipe
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="super_admin">
                        <label class="form-label" for="super_admin">
                            Super Administrador
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="membro_equipe" checked>
                        <label class="form-label" for="membro_equipe">
                            Membro da Equipe
                        </label>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Segundo Nome <span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" id="sobrenome_user" name="sobrenome_user"
                        value="{{user.last_name}}" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Status<span style="color: red"> * </span>:</label>
                    <select class="form-control" id="status" name="status" aria-label="Default select example">
                        {% if user.is_active == True %}
                        <option value="1" selected>Ativo</option>
                        <option value="2">Inativo</option>
                        {% else %}
                        <option value="1">Ativo</option>
                        <option value="2" selected>Inativo</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Usuário<span style="color: red"> * </span>:</label>
                    <label class="form-label"><span style="color: red"> "Observação nome.sobrenome sem acento e sem
                            letras maiusculas" </span></label>
                    <input type="text" class="form-control" id="username_user" name="username_user"
                        value="{{user.username}}" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">E-mail<span style="color: red"> * </span>:</label>
                    <input type="email" class="form-control" id="email_user" name="email_user" value="{{user.email}}"
                        required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Senha<span style="color: red"> * </span>:</label>
                    <input type="password" class="form-control" id="senha_user" name="senha_user" required minlength="6"
                        maxlength="12" onKeyUp="verificaForcaSenha();">
                    <span id="password-status"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Confirmar Senha<span style="color: red"> * </span>:</label>
                    <input type="password" class="form-control" id="confirmar_senha_user" name="confirmar_senha_user"
                        required minlength="6" maxlength="12">
                </div>
            </div>

            <div class="margin mt-4 mb-4">
                <button type="submit" class="btn-principal">Editar</button>
                <button type="button" onclick="window.history.back();" class="btn btn-secondary">Voltar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block 'body' %}
<script src="{% static 'admin/usuarios/js/usuarios.js' %}" type="text/javascript"></script>
{% endblock %}