{% load static %}
<div class="sidebar showMenu">
    <div class="logo-details">
        <i class='bx bx-home'></i>
        <span class="logo_name"><img class="img-fluid" src="{% static 'images/' %}" alt=""></span>
    </div>
    <ul class="nav-links">
        <li class="li-admin">
            <a href="{% url 'admin.dashboard:dashboard' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'admin.dashboard:dashboard' %}">Dashboard</a></li>
            </ul>
        </li>
        {% if perms.banner.view_banner %}
        <li class="li-admin">
            <a href="{% url 'admin.banner:banner' %}">
                <i class='bx bx-image-alt'></i>
                <span class="link_name">Banner</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'admin.banner:banner' %}">Banner</a></li>
            </ul>
        </li>
        {% endif %}
        {% if perms.produto.view_produto %}
        <li class="li-admin">
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-shopping-bag'></i>
                    <span class="link_name">Produto</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Produto</a></li>
                <li><a href="{% url 'admin.produto:produto' %}">Gerenciar Produto</a></li>
                {% if perms.produto.view_produtocategoria %}
                <li><a href="{% url 'admin.produto:categoria_produto' %}">Categorias Produto</a></li>
                {% endif %}
                {% if perms.produto.view_produtoatributo %}
                <li><a href="{% url 'admin.produto:atributo_produto' %}">Atributos do Produto</a></li>
                {% endif %}
                {% if perms.produto.view_produtodiamentro %}
                <li><a href="{% url 'admin.produto:diametro_produto' %}">Diametros do Produto</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        <li class="li-admin">
            <a href="{% url 'admin.cliente:cliente' %}">
                <i class="fa-regular fa-user"></i>
                <span class="link_name">Clientes</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'admin.cliente:cliente' %}">Clientes</a></li>
            </ul>
        </li>
        <li class="li-admin">
            <a href="{% url 'admin.historico:historico' %}">
                <i class='bx bx-history'></i>
                <span class="link_name">Histórico</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'admin.historico:historico' %}">Histórico</a></li>
            </ul>
        </li>
        {% if perms.configuracao.view_configuracao %}
        <li class="li-admin">
            <a href="{% url 'admin.configuracao:configuracao' %}">
                <i class='bx bx-cog'></i>
                <span class="link_name">Configurações</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'admin.configuracao:configuracao' %}">Configurações</a></li>
            </ul>
        </li>
        {% endif %}
        {% if perms.user.view_user %}
        <li class="li-admin">
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-laptop'></i>
                    <span class="link_name">Sistema</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Sistema</a></li>
                {% if perms.user.view_user %}
                <li><a href="{% url 'admin.sistema:list_user' %}">Usuários</a></li>
                {% endif %}
                {% if perms.group.view_group %}
                <li><a href="{% url 'admin.sistema:grupo_acesso' %}">Grupo de Acesso</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <!--<img src="image/profile.jpg" alt="profileImg">-->
                </div>
                <div class="name-job">
                    <div class="profile_name">{{request.user.first_name}}</div>
                </div>
                <a href="{% url 'admin.sistema:sair' %}"><i class='bx bx-log-out'></i></a>
            </div>
        </li>
    </ul>
</div>