{% extends 'administrador\base.html' %}
{% load static %}

{% block 'title' %}Cadastrar Novo Grupo de Acesso{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'title-page' %}
Cadastrar Novo Grupo de Acesso
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="adicionar-cliente">
        <form class="margin-top" action="{% url 'administrador:create_grupo_acesso' %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            <p>Observação os campos com<span style="color: red"> * </span>são obrigatorios</p>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Nome do Grupo<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" id="nome_group" name="nome_group" value="" required>
                </div>
            </div>

            <div class="margin margin-top margin-bottom">
                <button type="submit" class="btn-principal">Cadastrar</button>
                <button type="button" onclick="window.history.back();" class="btn btn-secondary">Voltar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block 'body' %}
<script src="{% static 'administrador/usuarios/js/usuarios.js' %}" type="text/javascript"></script>
{% endblock %}