{% extends 'site/base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block 'title' %}Carrinho{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'main' %}
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'site:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Carrinho</li>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <nav class="nav nav-pills nav-justified">
                    <span class="nav-item ng-isolate-scope">
                        <a href="{% url 'site:carrinho' %}" class="nav-link d-flex flex-column color-leter-carrinho align-items-center">
                            <i class="fa fa-shopping-cart fa-icon-carrinho"></i>
                            <b class="ng-scope leter-icon-header">Itens</b>
                        </a>
                    </span>
                    <span class="nav-item ng-isolate-scope">
                        <a href="{% url 'site:dados_perfil_carrinho' %}" class="nav-link d-flex flex-column color-leter-carrinho align-items-center">
                            <i class="fa fa-id-card fa-icon-carrinho"></i>
                            <b class="ng-scope leter-icon-header">Dados</b>
                        </a>
                    </span>
                    <span class="nav-item ng-isolate-scope">
                        <a href="{% url 'site:frete_carrinho' %}" class="nav-link d-flex flex-column color-leter-carrinho align-items-center">
                            <i class="fa fa-truck fa-icon-carrinho"></i>
                            <b class="ng-scope leter-icon-header">Entrega</b>
                        </a>
                    </span>
                    <span class="nav-item ng-isolate-scope">
                        <a href="{% url 'site:forma_pagamento_carrinho' %}" class="nav-link d-flex flex-column color-leter-carrinho align-items-center">
                            <i class="fa fa-credit-card fa-icon-carrinho"></i>
                            <b class="ng-scope leter-icon-header">Pagamento</b>
                        </a>
                    </span>
                    <span class="nav-item ng-isolate-scope">
                        <a class="nav-link d-flex flex-column color-leter-carrinho align-items-center active">
                            <i class="fa fa-check-circle fa-icon-carrinho"></i>
                            <b class="ng-scope leter-icon-header">Concluir compra</b>
                        </a>
                    </span>
                </nav>
            </div>
        </div>

        <table id="table-pagamento" class="table table-hover">
            <thead class="card-header-carrinho">
                <tr>
                    <th class="leter-header" scope="col-2 text-center"><b class="color-leter-carrinho">Imagem</b></th>
                    <th class="leter-header" scope="col-4"><b class="color-leter-carrinho">Produto</b></th>
                    <th class="leter-header" scope="col-2"><b class="color-leter-carrinho">Quantidade</b></th>
                    <th class="leter-header" scope="col-2"><b class="color-leter-carrinho">Valor da unidade</b></th>
                    <th class="leter-header" scope="col-2"><b class="color-leter-carrinho">Valor final</b></th>
                </tr>
            </thead>

            <td id="loading" style="display: none;">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <p id="fraseLoader">Processando, aguarde...</p>
            </td>

            <tbody id="table-carrinho-compra"></tbody>
        </table>

        <div id="column-img-pix"></div>

        <div id="btn-pagamento" class="d-flex mt-3">
            <button onclick="GerarQrCode()" style="margin-right: 12px;" class="btn btn-primary">Gerar QR CODE PIX</button>
            <a onclick="window.history.back();" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</section>
{% include 'footer_mobile/footer_mobile.html' %}
{% endblock %}

{% block 'body' %}
<script src="{% static 'site/js/carrinho_pagamento.js' %}" type="text/javascript"></script>
{% endblock %}