{% extends 'administrador\base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block 'title' %}Editar Diametro{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'dashboard' %}
<div class="container mb-4">
    <div class="container-box-admin">
        <h2>Editar Diametro</h2>
        <form class="mt-4" action="{% url 'apps_administrador.produto:edit_diametro_produto' diametro_produto.id %}" method="POST">
            {% csrf_token %}
            <p>Observação os campos com<span style="color: red"> * </span>são obrigatorios</p>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Serviços disponiveis<span style="color: red"> * </span>:</label>
                    {% for item in form_codigo_servico %}
                        {{item}}
                    {% endfor %}
                </div>

                <div class="col-md-6">
                    <label class="form-label">CEP de Origem sem hífen. Exemplo: 05311900 <span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="sCepOrigem" id="sCepOrigem" value="{{diametro_produto.sCepOrigem}}" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">
                    Peso da encomenda, incluindo sua embalagem. O peso deve ser informado em quilogramas. Se o formato for Envelope, o valor máximo permitido será 1 kg
                    <span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="nVlPeso" id="nVlPeso" value="{{diametro_produto.nVlPeso}}" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Formato da encomenda (incluindo embalagem)<span style="color: red"> * </span>:</label>
                    {% for item in form_codigo_formato %}
                        {{item}}
                    {% endfor %}
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Comprimento da encomenda (incluindo embalagem), em centímetros<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="nVlComprimento" id="nVlComprimento" value="{{diametro_produto.nVlComprimento}}" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Altura da encomenda (incluindo embalagem), em centímetros. Se o formato for envelope, informar zero (0)<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="nVlAltura" id="nVlAltura" value="{{diametro_produto.nVlAltura}}" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Largura da encomenda (incluindo embalagem), em centímetros<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="nVlLargura" id="nVlLargura" value="{{diametro_produto.nVlLargura}}" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Diâmetro da encomenda (incluindo embalagem), em centímetros<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="nVlDiametro" id="nVlDiametro" value="{{diametro_produto.nVlDiametro}}" required>
                </div>
            </div>

            <div class="margin mt-4 mb-4">
                <button type="submit" class="btn-principal">Editar</button>
                <button type="button" onclick="window.history.back();" class="btn btn-secondary">Voltar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block 'body' %}
<script type="text/javascript">
$(document).ready(function() {
    var id_nCdServico = "{{diametro_produto.nCdServico}}";
    $("#id_nCdServico option[value='" + id_nCdServico + "']").attr("selected","selected");

    var id_nCdFormato = "{{diametro_produto.nCdFormato}}";
    $("#id_nCdFormato option[value='" + id_nCdFormato + "']").attr("selected","selected");
});
</script>
{% endblock %}