{% extends 'admin/base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block 'title' %}Banners{% endblock %}

{% block 'title-page' %}
Lista de Banners Cadastrados
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    {% if perms.banner.add_banner %}
    <div class="margin mt-4 mb-2">
        <a href="{% url 'admin.banner:create_banner' %}" class="btn btn-success">{% bs_icon 'card-image' %} Cadastrar Banner</a>
    </div>
    {% endif %}

    <table class="table table-hover container-box-admin">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imagem</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if banner.count > 0 %}
            {% for item in banner %}
            <tr>
                <td data-label="#" scope="row"> {{ forloop.counter }}</td>
                <td data-label="Imagem"><img src="/media/{{ item.imagem }}" style="width: 80px"></td>
                {% if item.status == True %}
                <td data-label="Status"><span style="cursor: context-menu;" class="btn btn-success">Ativo</span></td>
                {% else  %}
                <td data-label="Status"><span style="cursor: context-menu;" class="btn btn-danger">Inativo</span></td>
                {% endif %}
                <td data-label="Ações">
                    <form method="GET" action=" {% url 'admin.banner:delete_banner' item.id %} ">
                        {% if perms.banner.change_banner %}
                        <a href="{% url 'admin.banner:edit_banner' item.id %}" class="btn btn-warning">{% bs_icon 'pencil'%} Editar</a>
                        {% endif %}
                        {% if perms.banner.delete_banner %}
                        <button type="submit" class="btn btn-danger show_confirm" data-toggle="tooltip" title='Excluir'>
                            <i>{% bs_icon 'trash' %}</i> Excluir</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <td>Nenhum Banner Cadastrado</td>
            {% endif %}
        </tbody>

    </table>
</div>

{% endblock %}

{% block 'body' %}
<script src="{% static 'admin/banner/js/banner.js' %}" type="text/javascript"></script>
{% endblock %}
