{% extends 'admin/base.html' %}
{% load static %}

{% block 'title' %}Editar Produto{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'dashboard' %}
<div class="container mb-4">
    <div class="container-box-admin">
        <h2>Editar Produto {{ produto.nome }}</h2>
        <form class="mt-4" action="{% url 'admin.produto:edit_produto' produto.id %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            <p>Observação os campos com<span style="color: red"> * </span>são obrigatorios</p>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Nome<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="nome_produto" id="nome_produto" value="{{ produto.nome }}" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Quantidade<span style="color: red"> * </span>:</label>
                    <input type="number" class="form-control" name="quantidade_produto" id="quantidade_produto" value="{{ produto.quantidade }}" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Valor<span style="color: red"> * </span>:</label>
                    <input type="text" class="form-control" name="valor_produto" id="valor_produto" value="{{ produto.valor }}" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Desconto :</label>
                    {% if produto.desconto == None %}
                    <input type="text" class="form-control" name="desconto_produto" id="desconto_produto" value="">
                    {% else %}
                    <input type="text" class="form-control" name="desconto_produto" id="desconto_produto" value="{{ produto.desconto }}">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Tipo<span style="color: red"> * </span>:</label>
                    <select class="form-control" id="tipo_produto" name="tipo_produto" aria-label="Default select example" required>
                        {% for tipo in tipos %}
                        {% if tipo.tipo_id == produto.tipo_id %}
                        <option value="{{tipo.tipo_id}}" selected>{{tipo.get_tipo_id_display}}</option>
                        {% else %}
                        <option value="{{tipo.tipo_id}}">{{tipo.get_tipo_id_display}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Categoria<span style="color: red"> * </span>:</label>
                    <select class="form-control" id="categoria_produto" name="categoria_produto" aria-label="Default select example" required>
                        {% for categoria in categorias %}
                        {% if categoria.id == produto.categoria_id %}
                            <option value="{{categoria.id}}" selected>{{categoria.nome}}</option>
                        {% else %}
                        <option value="{{categoria.id}}">{{categoria.nome}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label">Status<span style="color: red"> * </span>:</label>
                    <select class="form-control" id="status" name="status" aria-label="Default select example">
                        {% if produto.status == True %}
                        <option value="1" selected>Ativo</option>
                        <option value="2">Inativo</option>
                        {% else %}
                        <option value="1">Ativo</option>
                        <option value="2" selected>Inativo</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="inputDnD">
                        <label class="form-label" for="image_stand">Imagem Principal<span style="color: red"> * </span>:</label>
                        <div style="margin-top: 6px;" class="margin-bootom"></div>
                        <img src="/media/{{produto.imagem_principal }}" style="width: 280px;">
                        <input type="file" class="form-control-file text-primary font-weight-bold" id="image_produto"
                            name="image_produto" accept="image/*" onchange="readUrl(this)" data-title="Substituir imagem">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12"> <label class="form-label">Imagens Secundárias Observação "<span style="color: red">Para excluir clique em uma imagem!</span>"</label></div>
                {% if imagens.count > 0 %}
                    {% for image in imagens %}
                        <div class="col-md-4">
                            <a class="btn" onclick="DeleteImage('{{image.id}}')">
                                <img src="/media/{{image.imagem }}" style="width: 280px;">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="form-label" for="image_stand">Imagens : </label>
                    <input type="file" class="form-control" id="imagens_produto[]"
                        name="imagens_produto[]" accept="image/*" multiple>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label class="form-label">Descrição :</label>
                    <textarea style="height: 240px;" id="descricao_produto" name="descricao_produto"
                        class="form-control">{{ produto.descricao }}</textarea>
                </div>
            </div>
            <div class="margin margin-top margin-bottom">
                <button type="submit" class="btn-principal">Editar</button>
                <button type="button" onclick="window.history.back();" class="btn btn-secondary">Voltar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block 'body' %}
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js" type="text/javascript"></script>
<script src="{% static 'admin/produtos/js/produtos.js' %}" type="text/javascript"></script>
<script>
    CKEDITOR.replace('descricao_produto' );
</script>
{% endblock %}